html,body {
	height:100%;
}

.notification {
	background-color: white;
	border: 1px solid orange;
    bottom: 0;
    color: black;
    font-size: 1.1em;
    left: 15%;
    margin: 0;
    opacity: 0.8;
    padding: 1em;
    position: fixed;
    width: 64%;
    display: none;
    z-index: 3;
}

header,footer {
	z-index: 1;
	height: 56px;
	width: 100%;
	position: fixed;
	background-color: black;
}

header {
	top:0;
}

header li {
	list-style-type: none;
	display: inline;
	margin: 0 3%;
}

header a {
	cursor: pointer;
}

header a.selected {
	border-bottom: 1px solid;
}

header nav > ul:nth-of-type(1) {
	display: inline-block;
	width: 70%;
}

footer {
	bottom: 0;
}

footer .logo {
	float: right;
}

button.transparent {
	background: transparent none repeat scroll 0 0;
    border: 0 none;
    font-size: 1em;
    cursor: pointer;
    color: white;
}

.logo {
	height: 100px;
}

.body {
	margin-top: 60px;
}

.login {
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
    display: block;
    height: 100%;
    position: fixed;
    width: 100%;
}

.login div {
	z-index: 3;
	background-color: white;
    border: 1px solid black;
    display: block;
    height: 150px;
    left: 20%;
    margin-top: 5%;
    padding: 35px 15px;
    position: absolute;
    text-align: center;
    width: 60%;
}

.login * {
	margin:3px;
}

.login input {
	width: 80%;
	border: 1px solid;
}

.login button {
	position: absolute;
    right: 12%;
}

.login button:nth-of-type(2) {
	float: left;
}

.account {
	float: right;
	font-size: 1.5em;
	text-align: right;
	color: white;
}

.account ul {
	display: none;
    float: right;
    margin: 0;
    padding: 0;
    width: 59%;
}

.account ul li {
	border-right: 2px solid black;
    cursor: pointer;
    list-style-type: none;
    text-align: right;
}

.account ul li:hover {
	border-color: white;
}

.account ul li button {
	font-size: 0.8em;
}

.account i {
	color: white;
}

.project-detail {
	padding: 0 4%;
}

.project-detail p {
	
}

.project-detail img {
	
}

.project-detail button {
	border: medium none;
    border-radius: 3px;
    padding: 3px 12px;
}

.project-detail p:nth-of-type(4) button {
}

.project-detail p:nth-of-type(6) button {
    margin: 0 9%;
    opacity: 0.6;
}

.project-detail p:nth-of-type(6) button.selected {
    opacity: 1;
}

.project-detail p:nth-of-type(6) button:nth-of-type(1) {
	background-color: green;
}

.project-detail p:nth-of-type(6) button:nth-of-type(2) {
	background-color: red;
}

.projects ul {
	padding: 0;
	margin: 3px 0;
}

.projects li span:nth-of-type(1) {
	margin-left: 60%;
}

.projects li span:nth-of-type(2) {
	float: right;
}

.projects li {
	border: 1px solid black;
    list-style-type: none;
    margin: 3px;
    padding: 5px 7px;
}

.projects li:hover {
	box-shadow: 1px 2px 2px;
	margin-left: 2px;
	margin-right: 4px;
	margin-top: 2px;
}

.projects li:active {
	margin: 3px;
	box-shadow: inset 1px 1px 2px;
}